@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
}
img{
    max-width: 100%;
    height: auto;
}
body{
    font-size:24px;
    line-height: 42px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
}

.banner{
    background:url("https://hexschool.github.io/webLayoutTraining1st/week2/banner.png") top;
    background-size:cover;
    height: 958px;
    display: flex;
    justify-content: center;
    border: 1px solid #707070;
}

.about{
    text-align: center;
    font-weight: bold;
    line-height: 28px;
    padding-top: 64px;
}
.about>*{
    margin-bottom: 8px;
}
.exp_list{
    margin-bottom: 56px;
}
.exp_list>*{
    margin: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dot{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #891818 0% 0% no-repeat padding-box;
    margin-right: 16px;
}

.brand{
    background-color: #000000;
    color: white;
    border: 1px solid #707070;
    padding-top: 64px;
    padding-bottom: 160px;
    text-align: center;   
}
.brand_ul{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    flex-wrap: wrap;
}
.brand_ul>*{
    margin-left: 24px;
}
.brand_ul>*:nth-child(1){
    width: 100%;
}

.work{
    padding-top: 64px;  
    padding-bottom: 104px;
    text-align: center;
}
.work_ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.work_ul>*{
    margin-left: 24px;
    margin-bottom: 56px;
}

.contact{
    text-align: center;
    line-height: 33px;
    background-color: #000000;
    padding-top: 64px;
    padding-bottom: 80px;
    color: white;
}


/*font*/
.title{
    font-weight: 900;
    font-size: 80px;
    line-height: 94px;
    color: white;
}
.subtitle{
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
}
.sText{
    font-weight: bold;
    color: white;
    padding-top: 356px;
    line-height: 28px;
}
.text{
    font-weight: bold;
    color: white;
    line-height: 36px;
}
.brandwork_text{
    font-size: 20px;
    line-height: 30px;
}

.textlh-28{
    line-height: 28px;
}
.textlh-36{
    line-height: 36px;
}

.fsn{
    font-style: normal;
}


/*border*/
.bdb-1{
    border-bottom: 1px solid #000;
}


/*margin*/
.mb-16{
    margin-bottom: 16px;
}
.mb-24{
    margin-bottom: 24px;
}
.mb-32{
    margin-bottom: 32px;
}
.mb-40{
    margin-bottom: 40px;
}
.mb-48{
    margin-bottom: 48px;
}
.mb-56{
    margin-bottom: 56px;
}
.mb-68{
    margin-bottom: 68px;
}