.logo-image {
    background-image: url(https://hexschool.github.io/webLayoutTraining1st/week5/logo-ANSWER.svg);
    width: 151px;
    height: 40px;
}
.navbar {
    width: 296px;
    height: 100vh;
    .active {
        border-left: 4px solid #2a8356;
    }
    a {
        vertical-align: middle;
        padding-left: 31px;
        border-left: 4px solid #edf4ee;
        margin-bottom: 18px;
        span {
            vertical-align: middle;
            margin-right: 16px;
        }
        &:hover {
            background-color: #CDDDCD;
        }
    }
}

.mr-46 {
    margin-right: 46px;
}
.mr-26 {
    margin-right: 26.03px;
}
.mb-44 {
    margin-bottom: 44px;
}
.fz-12 {
    font-size: 12px;
}
.w-320 {
    width: 320px;
}
.p-12 {
    padding: 12px;
}
.headimguser {
    background-image: url(https://hexschool.github.io/webLayoutTraining1st/week5/emilywang.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
}
.headimglogin {
    background-image: url(https://hexschool.github.io/webLayoutTraining1st/week5/andychen.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
}
.fz-14 {
    font-size: 14px;
}
.attachment {
    width: 176px;
    vertical-align: middle;
    span {
        vertical-align: middle;
    }
}
.mb-16 {
    margin-bottom: 16.5px;
}
.mr-30 {
    margin-right: 30px;
}
.mb-6 {
    margin-bottom: 6px;
}
